<!DOCTYPE html>
<html>
<title>Chatwork | Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<body>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">Welcome</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center"><a href="https://localhost:4200/">Click here to join us!</a></p>
        </div>
    </div>
</body>

</html>